---
import '../styles/global.css';
import 'aos/dist/aos.css'; 
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
		<!-- Inicialización de AOS parte Agregada-->
    <script type="module">
      import AOS from 'aos';
      AOS.init({
        duration: 1000, // duración de la animación
        once: true      // anima solo una vez
      });
    </script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
